
body{
    background-image: url("static.gif");
}

p{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: black;
}

#background{
    position: absolute;
    height: 1700px;
    white-space: pre;
    width: 100%;
    z-index: -1;
}

pre{
    font-family: 'Courier Prime', Courier New, Courier, monospace;
    white-space: pre;
    font-size: .7em;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: azure;
}


img{
    position:absolute;
}

.gif{
    position: absolute;
}

#neokiagif{
    width: 450px;
    top: 100px;
    left: 50%; /*half the container width*/
    margin-left: -225px;
    box-shadow: 0px 0px 50px hsl(194, 67%, 75%);
    transition: transform .2s;
    z-index: 0;
}

#neokiagif:hover {
    transform: scale(1.2);
}

#neokiasticker{
    width: 200px;
    z-index: 10;
}

#entertext{
    position: absolute;
    top: 225px;
    left: 50%;
    margin-left: -45px;
    z-index: 5;
  
}
#enterbutton{
    position: absolute;
    top: 200px;
    left: 50%; /*half the container width*/
    /* margin-left: -150px;  */
    transform: translateX(-50%);
    mix-blend-mode:luminosity;
    width: 300px;
    height: 400px;
    
}

#enterbutton img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 50px hsl(194, 67%, 75%);
}

#flowergif{
    background-image: url(https://media3.giphy.com/media/l3fQiaeMSuK2xme0E/giphy.gif);
    position:absolute;
    background-size: contain;
    background-repeat:repeat;
    width: 100%;
    height: 100vh;
    mix-blend-mode: soft-light;
    top:0;
    left:0;
    z-index: -1;
    
}

#pentagramgif{
    position: absolute;
    width: 200px;
}
#pentagramgif2{
    position: absolute;
    width: 200px;
    right: 50px;
}

#silverflower{
    position: absolute;
    top: 150px;
    left: 100px;
    width: 200px;
}

#glitterheart{
    position: absolute;
    right: 100px;
    top: 400px;
}

#redborder{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
}

.spider{
    top: 0px;
    right: 10px;
    z-index: -1;
}

.heartchain{
    top:-10px;
    left: -10px;
    z-index: -1;
}
.crossdivider{
    position:absolute;
    mix-blend-mode:screen;
    top: 600px;
    width: 50%;

}

#cross2{
    left: 51%;
}

#cross3{
    top:4px;

}
#cross4{
    top: 4px;
    left: 51%;
}

.doll{
position: absolute;
}

.skatergirl{
    top: 100px;

}

.amanda{
    position: absolute;
    top: 20px;
    
}

.blueheart{
    position: absolute;
    width: 100px;
    top: 805px;

}


.inspocontainer{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    top: 1000px;
    width: 100vw;
    left: 3%;
    z-index: 0;
    justify-content: center;
}

.inspocontainer > img {
    /* width: 100%; */
    object-fit: contain;
}

.inspoad{
    position: static;
    height: 500px;
    box-shadow: 0px 0px 50px hsl(194, 67%, 75%);

}

.inspiration{
    position: relative;
    background-color: rgba(200, 224, 240, 0.877);
    width: 500px;
    height: 500px;
    border-radius: 5%;

}

.about{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.description{
    position: absolute;
    top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'DotGothic16', sans-serif;
    font-size: 1em;
}

.gameboy{
    position: static;
    top: 0px;
    height: 500px;
    box-shadow: 0px 0px 50px hsl(194, 67%, 75%);
}

:root {
    --width: 200px;
    --x-speed: 13s;
    --y-speed: 7s;
    --transition-speed: 2.2s;
  }

.x {
    animation: x var(--x-speed) linear infinite alternate;
  }
  .y {
    animation: y var(--y-speed) linear infinite alternate;
  }
  
  @keyframes x {
    100% {
      transform: translateX(calc(100vw - var(--width)));
    }
  }
  @keyframes y {
    100% {
      transform: translateY(calc(100vh - var(--width)));
    }
  }


  .holder{
    position: absolute;
  }

  .blueheart{
    animation: slide 5s linear infinite;
  }

  @keyframes slide{
    0% {left: 0px;}
    50% {left: 90vw;}
    100% {left:0px;}
  }